body{
  background-image: url(https://cdn.wallpaperhi.com/1280x1024/20130116/abstract%20black%20minimalistic%20white%20spectrum%20grey%201280x1024%20wallpaper_www.wallpaperhi.com_46.jpg);
  font-family: courier new;
}

.menu ul{
  display: flex;
  justify-content: space-around;
  text-align: right;
  padding: 1em;

}

.menu li{
  list-style: none;
  
}

.menu a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.site-title, .site-subtitle{
  text-align: center;
  text-transform: uppercase;
  
  
}

.site-subtitle{
  text-align: center;
  
  
}
