*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: courier new;
  
}

header{
  height: 100vh;
  justify-content: center;
  display: flex;
  background-image: url(https://cdn.wallpaperhi.com/1280x1024/20130116/abstract%20black%20minimalistic%20white%20spectrum%20grey%201280x1024%20wallpaper_www.wallpaperhi.com_46.jpg);
  background-position: top;
}


.menu{
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  
}

  .menu-logo{
    width: 4%;
    border-radius: 100%;
  }

  .menu ul{
    display: flex;
    justify-content: space-around;
    text-align: right;
    padding: 1.5em;
}

  .menu li{
    list-style: none;
  }

  .menu a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 0.9em 1em;
    font-weight: bold;
    font-size: 1.2em;
  }

  .menu a:hover{
    color: black;
    text-shadow: 1px 1px black;
      
  }

.site-title{
  margin-top: 3em;
}

.degolin{
  background: black;
  color: white;
  text-decoration: none;
  }

  .degolin:hover{
    background: white;
    color: black;
  }


.title {
  text-align: right;
  padding: 0.3em;
  font-family: 'Reenie Beanie', cursive;
  margin-top: 6em;
  font-size: 2em;
}

.logo{
  width: 14%;
  height: 27%;
  margin: 9em 0.2em;
  border: solid .1em;
  border-radius: 3em;
}



/* .profile */
.sobre-title{
  height: 30vh;
  letter-spacing: 0.3em;
  font-size: 1.2em;
  padding: 100px 0 70px 0;
  text-align: center;
}

.sobre-title a{
  color: black;
  text-decoration: none; 
}

#sobre:hover{
  transition: .99s;
  transform: scale(1.3);
}


.summary {
	margin: -30px auto 20px;
  font-size: 0;
  
}

.sum {
	display: inline-block;
	vertical-align: top;
	margin: 15px auto 40px;
	width: 33.33%;
	padding: 0 40px;
  font: 16px/34px courier new;
  text-align: justify;
}

.sum h3 {
	display: block;
	margin: 0;
	padding-bottom: 50px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
  text-align: center;
  transition: .2s;
  background-image: linear-gradient(to right, #0000001a 50%, #363636b3 100%);
  background-position: 0 1.2em;
  background-size: 0 10%;
  background-repeat: no-repeat;
  transition: background 1.2s;
}

  .sum h3:hover{
    background-size: 100% 10%;
  }




/* .footer */
/*.email */
.email {
  background-size: 50px 3px;
  }

  .email a {
    display: table;
    width: 300px;
    height: 180px;
    margin: 15px auto;
    border-radius: 50%  no-repeat center 0;
    background-size: 80px 80px;
    letter-spacing: 0.05em;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .email a:hover {
    text-decoration: none;
    color: black;
    opacity: 1;
  }

  .email span {
    display: block;
    position: absolute;
    top: 25px;
    left: 50%;
    margin-left: -21px;
    background: url(https://image.flaticon.com/icons/svg/942/942196.svg) no-repeat center 0;
    width: 43px;
    height: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .email a:hover span {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  .email p{
    display: block;
    position: absolute;
    text-align: center;
    top: 110px;
    left: 50px;
    right: 50px;
   
    color: black;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  .email a:hover p {
    opacity: 1;
  }

.contato{
  height: vh;
  
}
  
  .contato-title{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 1.2em;
    margin: 0 !important;
    padding: 100px 0 70px 0;
    
  }
  
.social{
  text-align: center;
  margin: auto;
  width: 50%;
}
  
  .social img{
    width: 7%;
    margin: 1.5em;
    
  }

  .social a{
    text-decoration: none;
  }


.copy{
  background: #F2F2F2;
  text-align: center;
  padding: 1em;
  font-size: .9em;
  
}


/* .responsivo */
@media only screen and (max-width: 767px){
  .menu-logo{
    display: none;
  }

  .portfolio{
    text-transform: uppercase;
    text-align: center;
    margin: 1em;
    display: block;
  }

    .portfolio img{
      width: 100%;
      height: 100%;
      padding: .3em;
      
    }

  .logo{
    width: auto;
    position: absolute;
    margin: 6.5em 0em;
  }

  .title{
    margin: auto;
    text-align: center;
  }

  .sobre-title{
    height: 30vh;
  }


.sum {
      display: block;
      width: auto;
      max-width: 600px;
      margin-bottom: 50px;
      padding: 0 20px;
}

.social{
  display: flex;
  width: auto;
  margin: 1em;
}  

  
  .social img{
    width: 50%;
  }
    


}


